click==8.0.4
colorama==0.4.4
itsdangerous==2.1.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.1
pytz==2021.3
scipy==1.8.0
six==1.16.0
threadpoolctl==3.1.0
numpy
flask
scikit-learn==1.0.2
pandas
Werkzeug
gunicorn

